@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
nav {
   background: rgba(33, 207, 255, 0.676);
   width: 500px;
   margin:auto;
   display: flex;
   justify-content: center;
    color: #100202;
    height: 50px;
    border-radius: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav li:last-child {
    margin-right: 0;
  }
  
  nav a {
    color: #0c0202;
    text-decoration: none;
    font-weight: bold;
    padding: 0 10px;
    line-height: 50px;
    font-size: larger;
  }
  
  nav a:hover {
    background-color: #fdfefd;
    border-radius: 30px;
  }
  
body{
    background-image: url('https://wallpaperbat.com/img/310258-cold-weather-wallpaper.jpg');
background-repeat: no-repeat;
background-size: cover;

background-attachment: fixed;
}

.container {
    background:linear-gradient(90deg, rgba(0, 200, 255, 0.511) 0%, rgb(95, 220, 254) 50% ,rgb(11, 202, 255) 100%);
    opacity: 0.9;
    color: #fff;
    padding: 2rem;
    width: 40%;
    margin: 4rem auto;
    border-radius: 30px;
    
}

.weather__searchform:hover{
    box-shadow:  10px 10px 10px rgba(0, 0, 0, 0.689); 
}

.weather__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    border: none;
    background: #1e1e1e;
    outline: none;
    color: #fff;
    padding: 0.5rem 2.5rem;
    border-radius: 30px;
    display:flex;
    justify-content: center;
}

input::placeholder {
    color: #fff;
}

.weather__search {
    position: relative;
}

.weather__search i {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 15px;
    color: #fff;
}

.weather__units {
    font-size: 1.5rem;
    display: flex;
}

.weather__units span {
    cursor: pointer;
    color: ;
}

.weather__units span:first-child {
    margin-right: 0.5rem;
}

.weather__body {
    text-align: center;
    margin-top: 2rem;
}


.weather__forecast {
    background: #1e1e1e;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 30px;
}

.weather__icon img {
    width: 100px;
}

.weather__temperature {
    font-size: 1.75rem;
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    width: 100px;
    margin: auto;
    border-radius: 30px;
    margin-bottom: 5px;
}

.weather__minmax {
    display: flex;
    justify-content: space-around;
}

.weather__minmax p {
    font-size: 14px;
    margin: 0.5rem;
}

.weather__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-top: 3rem;
}

.weather__card {
    display: flex;
    align-items: center;
    background: #1e1e1e;
    padding: 1rem;
    border-radius: 10px;
}

.weather__card i {
    font-size: 1.5rem;
    margin-right: 1rem;
}

.weather__card p {
    font-size: 14px;
}

@media(max-width: 936px){
    .container {
        width: 90%;
    }

    .weather__header {
        flex-direction: column;
    }

    .weather__units {
        margin-top: 1rem;
    }
}


@media(max-width: 400px){
    .weather__info {
        grid-template-c olumns: none;
    }
}

.weather__search {
    display: flex;
}

button{
    background-color: #0c0202;
    color:white;
    border-radius: 50%;
    size: 50px;
    margin-left: px;
}

marquee{
    color: #ffffff;
    background-color: rgba(255, 3, 3, 0.279);
}

.temp{
    color: #0c0202;
}
